@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: #03A062;
    font-family: Monocraft;
}

#allText {
    font-size: 1.485vw;
}

p {
    margin: 0px;
}